.search-bar {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.search-inputs input {
  background-color: aliceblue;
  font-size: 1.5rem;
  padding: 1rem;
  width: 80vw;
  height: 5%;
  border: none;
  
}

input:focus {
  outline: none;
}

.search-btn {
 border: none;
 background-color: hsl(0, 0%, 0%);
 color: aliceblue;
 border-radius: 0.3rem;
 padding: 0.3rem;
 cursor: pointer;
 width: 4rem;
 height: 2.4rem;
}

.search-btn:hover {
  opacity: 90%;
}


