.search-bar {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
 
}

.search-inputs input {
  background-color: #ffffff;
  border-radius: calc(0.2 * 2rem);
  font-size: 1.5rem;
  padding: 1.3rem;
  width: 60vw;
  height: 5%;
  border: none;
  
}

input:focus {
  outline: none;
}

.search-btn {
 border: none;
 background-color: #262626;
 color: white;
 padding: 0.5rem;
 cursor: pointer;
 width: 4rem;
 height: inherit;
}

.search-btn:hover {
  opacity: 90%;
}


