.weather-info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 66vw;
    margin: 1rem auto;
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 1rem;
    justify-content: space-evenly;
    background-color: #262626;
    color: aliceblue;
    border: none;
    border-radius: 1em;
  }
  