.weather {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 4rem;
  min-width: 60vw;
  max-width: 300vw;
  height: 45vh;
  border: none;
  border-radius: 1em;
  background-color: #363f44;
  color: #fff;
}

.weather-image {
    display: flex;
    font-size: 2rem;
    text-align: center;
}

.date {
  text-align: left;
  
}





